<html>
  <head>
  	<style>
  		nav{display: inline-table;}
  		.poster{width: 100px;}
  	</style>
  	<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
  	<nav>
  		<header>
  			<h1>Film Game</h1>
  			<h2>To start playing search anything or push the random button.</h2>
  		</header>
	    <form action="/search" method="POST">
	      <span>Search by word:</span>
	      <input type="text" name="search_film" required></input>
	      <input type="submit" value="Search"/>
	    </form>
	    <form action="/random" method="GET">
	      <input type="submit" value="Random">
    	</form>
    </nav>
  	<div class="films">
	    <% @films.each do |a|  %>
	      <img src="<%= a %>"\ class="poster">
	    <% end %>
    </div>
  </body>
</html>